#nav-bar {
  grid-area: header;
}
.home {
  grid-area: home;
}
.faq {
  grid-area: faq;
  margin-left: 15px;
}
.DomainHeading{
  color: rgb(252, 51, 245);
  margin-left: 8rem;
}
.prizes {
  margin-top: 20px;
  grid-area: prize;
  background-color: #000000;
  height: min-content;
  max-width: 55%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-inline: 2%;
}
.PrizeHeading h1{
  margin-left: 30px;
}
.PrizeHeading {
  /* font-size: 5rem;
    margin-bottom: 2rem; */
  /* font-weight: 700; */
  color: rgb(252, 51, 245);
  font-family: "Nunito", sans-serif;
  /* padding-bottom: 5vh; */
}
.winners {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.first {
  color: rgb(252, 70, 70);
  text-align: center;
  order: 1;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
}

.second {
  color: rgb(29, 198, 255);
  text-align: center;
  order: 2;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  
}
.third {
  color: rgb(77, 241, 99);
  text-align: center;
  order: 3;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  
}
.prizedesc{
  color:#edeaea;
  width: 90%;
}

.hackathon {
  grid-area: hackathon;
  padding: 10px;
  text-align: justify;
  width: 90%;
}
.problem {
  grid-area: problem;
  margin-top: 80px;
}
.sponsors {
  grid-area: sponcers;
  height: auto;
  width: 90%;
}
#footer {
  grid-area: footer;
}

html,
body {
  max-width: 100%;
  overflow-x: scroll;
}

#home {
  margin: 0;
}

.cta {
  justify-content: center;
}
.faq {
  /* height: 100vh; */
  /* margin-left: 10px; */
  display: grid;
  grid-template-areas:
    "c1 "
    "c2 "
    "c3 "
    "c4 "
    "c5"
    "c6"
    "c7"
    "c8";
  /* gap: 30px; */
  width: 100vw;
  padding-left: 0;
  /* justify-content: center; */
}
.card {
  width: 90vw;
  transition: all 0.5s;
}
.card:hover {
  height: auto;
  padding-bottom: 30px;
  transition: ease-in-out;
  transition: 2s;
}

.data > h2 {
  font-size: 10vw;
}

.typing-container {
  font-size: 5vw;
}

#nav-bar {
  display: flex;
  height: 60px;
  justify-content: left;
  min-width: max-content;
  margin: 0 0 50px 0;
}
.PrizeHeading {
  text-align: unset;
  margin-inline-start: 30%;
}
#nav-bar ul {
  display: flex;
}
#nav-bar li a > span {
  display: none;
}
.nav-box {
  width: 100vw;
  z-index: 5;
}
#hackathon {
  margin-top: 100px;
  display: block;
}
.front {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  width: auto;
}
.loader {
  left: 40%;
  right: 40%;
  width: 140px;
  height: 80px;
}
.sponsors {
  width: 100%;
  height: auto;
  padding: 10px;
}
.Scard {
  width: 70%;
}

#hackathon1 {
  display: hidden;
  color: #111;
  margin: 50px;
}
#hackathon {
  width: 60%;
}
.hackathon {
  height: 20%;
}

.wrapper .item {
  min-width: max-content;
  border-bottom-right-radius: 10px;
  height: auto;
  line-height: 110px;
  text-align: center;
  background-color: black;
  border: 2px solid #e40ff3;
  /* padding-top: 5vh; */
  margin-right: 50px;
  padding: 20px;
  border-radius: 10px;
  margin-left: 20px;
}
.wrapper {
  margin: auto;
}
