#nav-bar {
  grid-area: header;
}
.home {
  grid-area: home;
}
.faq {
  grid-area: faq;
}
.prizes {
  margin-top: 20px;
  grid-area: prize;
  background-color: #000000;
  height: auto;
  width: 70%;
  margin: 0;
}

.hackathon {
  grid-area: hackathon;
  padding: 10px;
  text-align: justify;
}
.problem {
  grid-area: problem;
  margin-top: 80px;
}
.sponsors {
  grid-area: sponcers;
  height: auto;
  width: 90%;
}
#footer {
  grid-area: footer;
}

html,
body {
  max-width: 100%;
  overflow-x: scroll;
}

#home {
  margin: 0;
}

.nav-box {
  /* margin: 5px; */
  width: 30%;
}

.cta {
  justify-content: center;
}
.faq {
  /* height: 100vh; */
  /* margin-left: 10px; */
  display: grid;
  grid-template-areas:
    "c1 "
    "c2 "
    "c3 "
    "c4 "
    "c5"
    "c6"
    "c7"
    "c8";
  /* gap: 30px; */
  /* width: 80%; */
  justify-content: center;
}
.card:hover {
  height: auto;
  padding-bottom: 30px;
  transition: ease-in-out;
  transition: 2s;
}
.card {
  width: 80%;
}
#nav-bar {
  display: inline-block;
  height: auto;
  justify-content: center;
  padding: 10px;
  max-width: max-content;
  min-width: min-content;
}
#nav-bar ul {
  display: flex;
}
#nav-bar li a > span {
  display: none;
}
.nav-box {
  width: 90%;
  z-index: 5;
}
#hackathon {
  margin-top: 100px;
  display: block;
}
.front {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
}
.loader {
  left: 40%;
  right: 40%;
  width: 140px;
  height: 80px;
}
.sponsors {
  width: 50%;
  height: auto;
  padding: 10px;
}
.Scard {
  width: 70%;
}

#hackathon1 {
  display: hidden;
  color: #111;
  margin: 50px;
}
#hackathon {
  width: 60%;
}
.hackathon {
  height: 50vh;
}
.wrapper .item {
  min-width: 500px;
  border-bottom-right-radius: 10px;
  height: auto;
  line-height: 110px;
  text-align: center;
  background-color: black;
  border: 2px solid #e40ff3;
  /* padding-top: 5vh; */
  font-size: 2em;
  margin-right: 50px;
  border-radius: 10px;
}
.wrapper {
  margin: auto;
}
