.wrapper {
  max-height: 300px;
  width: 600px;
  border-radius: 10px;
  display: flex;
  overflow-x: auto;
  margin-left: 30vw;
  margin-right: 20vw;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

.wrapper::-webkit-scrollbar {
  width: 0;
}

.wrapper .item {
  min-width: 500px;
  border-bottom-right-radius: 10px;
  height: 200px;
  line-height: 110px;
  text-align: center;
  background-color: black;
  border: 2px solid #e40ff3;
  padding-top: 5vh;
  font-size: 2em;
  margin-right: 50px;
  border-radius: 10px;
}

body {
  margin: 0;
  padding: 0;
  background: #111;
  color: white;
  font-family: sans-serif;
}

/*  Colors
blue - #2196f3 
pink - #f441a5
*/

#nav-bar {
  grid-area: header;
  height: 55px;
  justify-content: center;
}
.home {
  grid-area: home;
}
.faq {
  margin-top: 50px;
  grid-area: faq;
  height: auto;
  padding-left: 5%;
}

.hackathon {
  grid-area: hackathon;
  height: 40vh;
  color: white;
  padding-left: 10vw;
  text-align: justify;
  padding-top: 5vh;
}

.problem {
  grid-area: problem;
  margin-bottom: 5%;
}

.sponsors {
  grid-area: sponcers;
  /* height: 30vh; */
  margin-top: 100px;
}
#footer {
  grid-area: footer;
  height: 10vh;
}

/* .grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
} */

#home {
  margin: auto;
  display: grid;
  grid-template-areas:
    "temp  header header"
    "temp  home home"
    "temp  hackathon hackathon"
    "temp  problem problem"
    "temp  prize prize"
    "temp  sponcers sponcers"
    "temp  faq faq"
    "temp  footer footer";
  gap: 10px;
  /* background-color: #2196f3; */
}

#svg {
  height: 40rem;
  display: block;
}
.data {
  display: inline-flexbox;
  align-self: center;
  color: white;
  width: 90%;
}
.data > h2 {
  font-size: 4rem;
  margin: auto;
  background: linear-gradient(90deg, #f441a5, #cd00cd, #f441a5, #cd00cd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Nav Bar */
#nav-bar {
  overflow: hidden;
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  min-width: 800px;
  margin: 0 8%;
}
.nav-box {
  background: linear-gradient(180deg, #880691, #18061e);
  padding: 5px 5px;
  position: fixed;
  top: 0;
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  z-index: 5;
  transition: 1s ease-in-out;
  width: 90%;
}

#nav-bar ul li a,
ul a {
  text-decoration: none;
}
.logo {
  display: block;
  text-decoration: none;
  list-style: none;
  color: #fff;
  margin-left: 20px;
}
.logo:hover {
  color: #2196f3;
  cursor: context-menu;
}
#nav-bar ul li a > i {
  color: #ccc;
  padding: 10px;
}
#nav-bar ul li a > i:hover {
  color: #2196f3;
}
#nav-bar ul {
  display: flex;
  list-style-type: none;
  /* justify-content: space-between; */
}

#nav-bar ul div > li {
  display: inline-block;
  /* margin-top: 20px; */
  justify-content: space-between;
  flex-direction: row;
}
/* Button */
button {
  margin-left: 5px;
  align-items: center;
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 18px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s;
}

button:active,
button:hover {
  outline: 0;
}

button span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

button:hover span {
  background: none;
}

button:active {
  transform: scale(0.9);
}
button a {
  text-decoration: none;
  color: white;
}

.align {
  display: flex;
  flex-direction: row;
}

/* SVG BLOCK */
.front {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 90%;
  margin-inline: 50px;
}
/* typing Effect */
.sentence {
  margin-right: 8px;
}
.typing-container {
  display: flex;
  align-items: center;
  font-size: 30px;
}
.input-cursor {
  display: inline-block;
  width: 2px;
  height: 20px;
  background-color: white;
  margin-left: 8px;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.input-cursor {
  animation: blink 0.6s linear infinite alternate;
}

.cta {
  border: none;
  background: none;
  cursor: pointer;
  /* justify-content: center; */
}

.cta i {
  /* margin: auto; */
  padding: auto;
  align-self: flex-start;
  display: inline-block;
}

.cta span {
  padding-bottom: 7px;
  letter-spacing: 4px;
  font-size: 14px;
  padding-right: 15px;
  text-transform: uppercase;
}

.cta svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active svg {
  transform: scale(0.9);
}

.hover-underline-animation {
  position: relative;
  color: #2196f3;
  padding-bottom: 20px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 80%;
  transform: scaleX(0);
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: #2196f3;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Nav Mobile */
@media only screen and (max-width: 768px) {
  .cta {
    justify-content: center;
  }
  .faq {
    /* height: 100vh; */
    margin-left: 10px;
    display: grid;
    grid-template-areas:
      "c1 "
      "c2 "
      "c3 "
      "c4 "
      "c5"
      "c6"
      "c7"
      "c8";
    gap: 30px;
  }
}

/* PRIZES card  */
.prizes {
  /* margin-top: 20px; */
  grid-area: prize;
  background-color: #000000;
  height: min-content;
  width: 80%;
  margin-inline: 5%;
  padding: 20px;
}

.PrizeHeading {
  /* font-size: 5rem;
    margin-bottom: 2rem; */
  font-weight: 700;
  text-align: center;
  color: rgb(252, 51, 245);
  font-family: "Nunito", sans-serif;
  padding-bottom: 5vh;
}
.winners {
  display: flex;
  flex-direction: row;
}

.first {
  color: rgb(252, 70, 70);
  text-align: center;
}

.second {
  color: rgb(29, 198, 255);
  text-align: center;
  margin-top: 50px;
}
.third {
  color: rgb(77, 241, 99);
  text-align: center;
  margin-top: 50px;
}

/* Sponser CARD */

.Scard {
  margin-top: 50px;
  margin: auto;
  width: 90%;
  height: auto;
  background: #000000;
  position: relative;
  display: flex;
  margin-bottom: 50px;
  place-content: center;
  place-items: center;
  overflow: hidden;
  border-radius: 20px;
}

.Scard h2 {
  z-index: 1;
  color: white;
  font-size: 2em;
  margin-left: 5px;
}

.Scard::before {
  content: "";
  position: absolute;
  width: 300em;
  background-image: linear-gradient(
    180deg,
    rgb(255, 204, 0),
    rgb(48, 255, 214)
  );
  height: 130%;
  animation: rotBGimg 8s linear infinite;
  transition: all 0.4s linear;
}

@keyframes rotBGimg {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.Scard::after {
  content: "";
  position: absolute;
  background: #000000;
  inset: 0.3em;
  border-radius: 15px;
}

.Scard h2 {
  --border-right: 6px;
  --text-stroke-color: rgba(255, 255, 255, 0.6);
  --animation-color: #ffd037;
  --fs-size: 2em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;

  -webkit-text-stroke: 1px var(--text-stroke-color);
}
.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}
.Scard h2:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 100px var(--animation-color));
}

/* sponsor-logo-img */
.sponsorlogo {
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 10;
}

.sponsor-img {
  animation: bounce 2s ease-in-out infinite;
  margin-left: 20px;
}
.sponsor-img {
  /* background-color:rgba(0,255,0,0); */
  box-shadow: 0 0 25px rgb(0, 0, 0, 0);
}

.sponsor-img:hover {
  box-shadow: 0 0 5px rgb(0, 140, 255), 0 0 25px rgb(0, 140, 255),
    0 0 50px rgb(0, 140, 255), 0 0 100px rgb(0, 140, 255);
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

/* FAQ */

.faq {
  /* height: 100vh; */
  margin-left: 50px;
  display: grid;
  grid-template-areas:
    "c1 c2"
    "c3 c4"
    "c5 c6"
    "c7 c8";
  gap: 30px;
}

#c1 {
  grid-area: c1;
}
#c2 {
  grid-area: c2;
}
#c3 {
  grid-area: c3;
}
#c4 {
  grid-area: c4;
}
#c5 {
  grid-area: c5;
}
#c6 {
  grid-area: c6;
}
#c7 {
  grid-area: c7;
}
#c8 {
  grid-area: c8;
}

.card {
  width: 400px;
  height: 150px;
  transition: all 0.5s;
  /* box-shadow: 10px 10px 20px rgb(102, 101, 101), */
  /* -10px -10px 20px rgba(56, 54, 54, 0.082); */
  text-align: center;
  overflow: hidden;
}

.card:hover {
  height: 300px;
  /* padding-bottom: 30px;
  transition: ease-in-out;
  transition: 2s; */
  background: linear-gradient(360deg, #edededc5 60%, hsla(0, 0%, 13%, 1) 70%);
}

.card .header {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #212121;
  margin-bottom: 16px;
}

.card .header .img-box {
  width: 50px;
}

.card .header .title {
  font-size: 1.1em;
  letter-spacing: 0.1em;
  font-weight: 500;
  text-transform: uppercase;
  padding: 4px 0 14px 0;
  transition: all 0.5s;
  color: #edededc5;
}

.card:hover .header {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 96%);
}

.card:hover .card .header .title {
  padding: 0;
}

.card .content {
  display: block;
  text-align: center;
  color: #212121;
  margin: 0 18px;
}

.card .content p {
  transition: all 0.5s;
  font-size: 1.3em;
  margin-bottom: 8px;
}

.card .content a {
  color: #1d8122;
  cursor: pointer;
  transition: all 0.5s;
  font-size: 0.8rem;
  font-weight: 500;
  text-transform: uppercase;
}

.card .content .btn-link:hover {
  border-bottom: 1px solid #1d8122;
}

/* What is Hackathon */
.loader {
  position: absolute;
  left: 80%;
  right: 20%;
  /* z-index: 1; */
  width: 160px;
  height: 100px;
  margin-left: -80px;
  margin-top: -50px;
  border-radius: 5px;
  background: #1e3f57;
  animation: dot1_ 3s cubic-bezier(0.55, 0.3, 0.24, 0.99) infinite;
}

.loader:nth-child(2) {
  z-index: 1;
  width: 150px;
  height: 90px;
  margin-top: -45px;
  margin-left: -75px;
  border-radius: 3px;
  background: #3c517d;
  animation-name: dot2_;
}

.loader:nth-child(3) {
  z-index: 2;
  width: 40px;
  height: 20px;
  margin-top: 50px;
  margin-left: -20px;
  border-radius: 0 0 5px 5px;
  background: #6bb2cd;
  animation-name: dot3_;
}

@keyframes dot1_ {
  3%,
  97% {
    width: 160px;
    height: 100px;
    margin-top: -50px;
    margin-left: -80px;
  }

  30%,
  36% {
    width: 80px;
    height: 120px;
    margin-top: -60px;
    margin-left: -40px;
  }

  63%,
  69% {
    width: 40px;
    height: 80px;
    margin-top: -40px;
    margin-left: -20px;
  }
}

@keyframes dot2_ {
  3%,
  97% {
    height: 90px;
    width: 150px;
    margin-left: -75px;
    margin-top: -45px;
  }

  30%,
  36% {
    width: 70px;
    height: 96px;
    margin-left: -35px;
    margin-top: -48px;
  }

  63%,
  69% {
    width: 32px;
    height: 60px;
    margin-left: -16px;
    margin-top: -30px;
  }
}

@keyframes dot3_ {
  3%,
  97% {
    height: 20px;
    width: 40px;
    margin-left: -20px;
    margin-top: 50px;
  }

  30%,
  36% {
    width: 8px;
    height: 8px;
    margin-left: -5px;
    margin-top: 49px;
    border-radius: 8px;
  }

  63%,
  69% {
    width: 16px;
    height: 4px;
    margin-left: -8px;
    margin-top: -37px;
    border-radius: 10px;
  }
}

#hackathon {
  width: 60%;
  overflow: hidden;
}
#hackathon1 {
  font-size: 0;
}

/* FOOTER */
footer {
  background-color: #07182e;
  margin-top: 40px;
  padding: 20px;
  text-align: center;
}

.social-links a {
  color: #fff;
  margin-right: 10px;
  text-decoration: none;
}
.social-links .social {
  max-width: 100px;
  text-align: center;
}
.social-links img {
  margin-right: 30px;
  height: 40px;
  width: 40px;
}
.social-links .icDiscord:hover {
  cursor: url(../images/discord24.png), auto;
  opacity: 0.1;
}

.social-links .icInstagram:hover {
  cursor: url(../images/instag24.png), auto;
  opacity: 0.1;
}
.social-links .icLinkedin:hover {
  cursor: url(../images/linked24.png), auto;
  opacity: 0.1;
}
.social-links .icTwitter:hover {
  cursor: url(../images/twitter24.png), auto;
  opacity: 0.1;
}
.social-links .icEmail:hover {
  cursor: url(../images/email24.png), auto;
  opacity: 0.1;
}
