body {
  margin: 0;
  padding: 0;
  background: #2196f3;
}
#nav-bar {
  grid-area: header;
  height: 50px;
}
.home {
  grid-area: home;
  /* height: 100vh; */
}
.faq {
  grid-area: faq;
  height: auto;
}
.hackathon {
  grid-area: hackathon;
  height: 40vh;
}
.problem {
  grid-area: problem;
  height: 50vh;
}
.prizes {
  grid-area: prize;
  height: 30vh;
}
.sponcers {
  grid-area: sponcers;
  height: 20vh;
}
#footer {
  grid-area: footer;
  height: 30vh;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

#home {
  display: grid;
  grid-template-areas:
    "temp header header header"
    "temp home home home"
    "temp hackathon hackathon hackathon"
    "temp problem problem problem"
    "temp prize prize prize"
    "temp sponcers sponcers sponcers"
    "temp faq faq faq"
    "temp footer footer footer";
  gap: 10px;
  /* background-color: #2196f3; */
}

#svg {
  height: 40rem;
  display: block;
}
.data {
  display: inline-flexbox;
  align-self: center;
}
.data > h2 {
  font-size: 4rem;
  margin: auto;
  background: linear-gradient(90deg, #f441a5, #cd00cd, #f441a5, #cd00cd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Nav Bar */
#nav-bar {
  overflow: hidden;
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  min-width: 800px;
  margin: 0 5%;
}
.nav-box {
  background-color: #f441a5;
  padding: 10px 10px;
  border-radius: 10px;
  opacity: 1;
}
#nav-bar ul li a,
ul a {
  text-decoration: none;
  padding-top: 20px;
}
.logo {
  display: block;
  text-decoration: none;
  list-style: none;
  color: #000;
  margin-left: 20px;
}
.logo:hover {
  color: white;
  cursor: context-menu;
}
#nav-bar ul li a > i {
  color: black;
  padding: 10px;
}
#nav-bar ul {
  display: flex;
  list-style-type: none;
  /* justify-content: space-between; */
}

#nav-bar ul div > li {
  display: inline-block;
  /* margin-top: 20px; */
  justify-content: space-between;
  flex-direction: row;
}

/* SVG BLOCK */
.front {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
/* typing Effect */
.sentence {
  margin-right: 8px;
}
.typing-container {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.input-cursor {
  display: inline-block;
  width: 2px;
  height: 20px;
  background-color: white;
  margin-left: 8px;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.input-cursor {
  animation: blink 0.6s linear infinite alternate;
}

.cta {
  border: none;
  background: none;
  cursor: pointer;
  padding: 10px;
  margin: 10px;
  /* justify-content: center; */
}

.cta i {
  /* margin: auto; */
  padding: auto;
  align-self: flex-start;
  display: inline-block;
}

.cta span {
  padding-bottom: 7px;
  letter-spacing: 4px;
  font-size: 14px;
  padding-right: 15px;
  text-transform: uppercase;
}

.cta svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active svg {
  transform: scale(0.9);
}

.hover-underline-animation {
  position: relative;
  color: black;
  padding-bottom: 20px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 80%;
  transform: scaleX(0);
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Nav Mobile */
@media only screen and (max-width: 768px) {
  .cta {
    justify-content: center;
  }
  #left {
    display: none;
  }
  #top {
    background: #2f66f0;
    /* display: none; */
    width: 100%;
    align-items: top;
  }
  #top .nav-bar {
    justify-content: center;
    text-decoration: none;
    display: inline-block;
  }
  #top .nav-bar ul li a {
    display: flex;
    text-decoration: none;
  }
  #top .nav-bar ul li a > i {
    color: black;
    align-self: flex-start;
  }
  #top .nav-bar ul {
    list-style-type: none;
  }
  #top .typing-container {
    /* display: flex; */
    justify-content: center;
    /* align-items: center; */
  }
}

/* FAQ */

.faq {
  /* height: 100vh; */
  display: grid;
  grid-template-areas:
    "c1 c2"
    "c3 c4"
    "c5 c6"
    "c7 c8";
  gap: 15px;
}

#c1 {
  grid-area: c1;
}
#c2 {
  grid-area: c2;
}
#c3 {
  grid-area: c3;
}
#c4 {
  grid-area: c4;
}
#c5 {
  grid-area: c5;
}
#c6 {
  grid-area: c6;
}
#c7 {
  grid-area: c7;
}
#c8 {
  grid-area: c8;
}

.card {
  width: 400px;
  height: 140px;
  transition: all 0.5s;
  box-shadow: 15px 15px 30px rgba(25, 25, 25, 0.11),
    -15px -15px 30px rgba(60, 60, 60, 0.082);
  text-align: center;
  overflow: hidden;
}

.card:hover {
  height: 275px;
  background: linear-gradient(360deg, #edededc5 60%, hsla(0, 0%, 13%, 1) 70%);
}

.card .header {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #212121;
  margin-bottom: 16px;
}

.card .header .img-box {
  width: 50px;
}

.card .header .title {
  font-size: 1.1em;
  letter-spacing: 0.1em;
  font-weight: 500;
  text-transform: uppercase;
  padding: 4px 0 14px 0;
  transition: all 0.5s;
  color: #edededc5;
}

.card:hover .header {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 96%);
}

.card:hover .card .header .title {
  padding: 0;
}

.card .content {
  display: block;
  text-align: center;
  color: #212121;
  margin: 0 18px;
}

.card .content p {
  transition: all 0.5s;
  font-size: 1.3em;
  margin-bottom: 8px;
}

.card .content a {
  color: #1d8122;
  cursor: pointer;
  transition: all 0.5s;
  font-size: 0.8rem;
  font-weight: 500;
  text-transform: uppercase;
}

.card .content .btn-link:hover {
  border-bottom: 1px solid #1d8122;
}

/* What is Hackathon */
.loader {
  position: absolute;
  left: 80%;
  right: 20%;
  z-index: 10;
  width: 160px;
  height: 100px;
  margin-left: -80px;
  margin-top: -50px;
  border-radius: 5px;
  background: #1e3f57;
  animation: dot1_ 3s cubic-bezier(0.55, 0.3, 0.24, 0.99) infinite;
}

.loader:nth-child(2) {
  z-index: 11;
  width: 150px;
  height: 90px;
  margin-top: -45px;
  margin-left: -75px;
  border-radius: 3px;
  background: #3c517d;
  animation-name: dot2_;
}

.loader:nth-child(3) {
  z-index: 12;
  width: 40px;
  height: 20px;
  margin-top: 50px;
  margin-left: -20px;
  border-radius: 0 0 5px 5px;
  background: #6bb2cd;
  animation-name: dot3_;
}

@keyframes dot1_ {
  3%,
  97% {
    width: 160px;
    height: 100px;
    margin-top: -50px;
    margin-left: -80px;
  }

  30%,
  36% {
    width: 80px;
    height: 120px;
    margin-top: -60px;
    margin-left: -40px;
  }

  63%,
  69% {
    width: 40px;
    height: 80px;
    margin-top: -40px;
    margin-left: -20px;
  }
}

@keyframes dot2_ {
  3%,
  97% {
    height: 90px;
    width: 150px;
    margin-left: -75px;
    margin-top: -45px;
  }

  30%,
  36% {
    width: 70px;
    height: 96px;
    margin-left: -35px;
    margin-top: -48px;
  }

  63%,
  69% {
    width: 32px;
    height: 60px;
    margin-left: -16px;
    margin-top: -30px;
  }
}

@keyframes dot3_ {
  3%,
  97% {
    height: 20px;
    width: 40px;
    margin-left: -20px;
    margin-top: 50px;
  }

  30%,
  36% {
    width: 8px;
    height: 8px;
    margin-left: -5px;
    margin-top: 49px;
    border-radius: 8px;
  }

  63%,
  69% {
    width: 16px;
    height: 4px;
    margin-left: -8px;
    margin-top: -37px;
    border-radius: 10px;
  }
}

#hackathon {
  width: 60%;
}
